<header>
    <div class="container-fluid">
        <div class="row" style="background: #041a94;color:white">
            @*<img src="assets/img/Carabinieri.png" width="100" />*@
            <h1 class="display-1">Gestione turni agenti</h1>
        </div>
    </div>
</header>