<div class="row align-items-center bg-light">
    <div class="col-md-4">
        <img src="/assets/img/Carabinieri.png" class="text-left" height="60" width="60" />
    </div>
    <div class="col-md-1 offset-md-7 font-weight-bolder">
        <span class="oi oi-person" aria-hidden="true"></span> @LoggedUser
    </div>
</div>