@using GestioneTurniAgenti.Client.Authentication

@attribute [Authorize(Roles = RoleNames.SuperAdmin)]

<div class="modal" tabindex="-1" role="dialog" style="display:@_modalDisplay">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vuoi eliminare il seguente turno?</h5>
                <button type="button" class="close" @onclick="Hide" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <dl>
                    <dt>Nome evento</dt>
                    <dd>@EventoToShow.Nome</dd>
                    <dt>Inizio</dt>
                    <dd>@EventoToShow.Inizio.ToString("dd/MM/yyyy")</dd>
                    <dt>Fine</dt>
                    <dd>@EventoToShow.Fine.ToString("dd/MM/yyyy")</dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal"
                        @onclick="Hide">
                    <span class="oi oi-arrow-left"></span> Annulla
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                        @onclick="() => OnOKClicked.InvokeAsync()">
                    <span class="oi oi-trash"></span> Elimina
                </button>
            </div>
        </div>
    </div>
</div>

@if (_showBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}