@page "/eventi"
@using GestioneTurniAgenti.Client.Authentication

@attribute [Authorize(Roles = RoleNames.Admin + "," + RoleNames.SuperAdmin)]
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Ricerca eventi</h5>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="Nome" @bind-value="EventiSearchParameters.Nome" />
            </div>

            <div class="form-group col-md-6">
                <input type="text" class="form-control" placeholder="Matricola Agente" @bind-value="EventiSearchParameters.MatricolaAgente" />
            </div>

            <button type="submit" class="btn btn-lg btn-primary ml-1" @onclick="GetEventi"><span class="oi oi-magnifying-glass"></span> Cerca</button>
            <a href="creaEvento" class="btn btn-lg btn-success text-white ml-auto mr-1"><span class="oi oi-plus"></span> Crea nuovo evento</a>
        </div>
    </div>
</div>

@if (EventiReturned != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Inizio</th>
                <th scope="col">Fine</th>
                <th scope="col">Num Turni</th>
                <th scope="col">Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var evento in EventiReturned)
            {
                <tr>
                    <td>@evento.Nome</td>
                    <td>@evento.Inizio.ToString("dd/MM/yyyy")</td>
                    <td>@evento.Fine.ToString("dd/MM/yyyy")</td>
                    <td>@evento.NumTurniLegati</td>
                    <td>
                        <a class="btn btn-warning" href="modificaEvento/@evento.Id">
                            <span class="oi oi-pencil"></span> Modifica
                        </a> |
                        <button class="btn btn-danger" @onclick="() => CallConfirmationModal(evento)">
                            <span class="oi oi-trash"></span> Elimina
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <ConfirmationDeleteEvento OnOKClicked="DeleteEvento" @ref="_confirmation" />
}