@page "/404"

<div class="card">
    <div class="card-body customNotFound">
        <div class="row">
            <div class="col">
                Non siamo riusciti a trovare la risorsa!
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-md-center m-5 text-primary">
        <button type="button" class="btn btn-primary"
                @onclick="NavigateToHome">
            Torna alla Home
        </button>
    </div>
</div>